/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

/*==Clearfix==*/

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*==Customstyles==*/

body {
    background: whitesmoke;
    color: black;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
/*==Grid==*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
  display: inline-block;
}

.col-1-1 {
  display: center;
  background-color: gold;
}

.col-1-3 {
  display: inline-block;  
  width: 33.33%;
  vertical-align: top;
}

.grid,
.col-1-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
  background: burlywood;
  padding: 66px 0 350px 0;
  text-align: center;
}


.hero {
  color: black;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}

/*--Header--*/



/*--Navigation--*/

.primary-nav {
  background-color: grey;
  display: inline-block;
}

.nav ul {
  font-size:           13px;
  font-weight:          400;
  letter-spacing:      .5px;
  word-spacing: 2px;
  text-transform: uppercase;
  list-style: Square;
  margin: 0;
}

.nav {
  text-align: center;
}

.nav li {
  display: inline-block;
  margin: 0;
}

.container {
  text-align: center;
}

/*==Typography==*/


/*--Primary Header--*/

#banneritalics {
  color: rgb(0, 0, 0);
  font-style: italic;
  line-height: 30px;
  font-size: 15px;
  word-spacing: 7px;
  padding: 10px 0 10px 0;
  font-weight: 300;
}

.banner {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: .5px;
  line-height: 30px;
  padding: 10px 0 100px 0;
  text-transform: uppercase;
}

.banner {
  background: #648880;
}
/*--Primary Footer--*/

.primary-footer small {
  float: left;
  font-weight: 400;
}

.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 44px;
  background-color: black;
  clear: b;
}