/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

/*==Clearfix==*/

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*==Customstyles==*/

body {
  background-image: url(banff.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
/*==Grid==*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
  display: inline-block;
  width: 1600px;
}

.col-1-3 {
  display: inline-block;  
  width: 33.33%;
  vertical-align: top;
  height: 400px;
  width: 360px;
}

.grid,
.col-1-3 {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

.row {
  background: rgba( 255, 255, 255);
  padding: 20px 20px 100px 20px;
  text-align: center;
}

/*--Header--*/

h1 {
  font-size: 60px;
  font-family: Abel;
}
.sign {
  float: left;
  height: 100%;
  line-height: 70px;
  margin: 0;
  padding: 0 10px 10px 10px;
  color: whitesmoke;
}

.hero {
  background-color: rgba(0, 0, 0, .4);
  color: white;
  line-height: 30px;
  text-align: center;
  padding: 5px 0px 0px 0px;
  font-size: 20px;
}

.lil-container {
  height: 190px;
}

/*--Navigation--*/

.primary-nav {
  font-weight:          400;
  letter-spacing:      .5px;
  text-transform: uppercase;
  height: 200px;
  padding: 10px 10px;
  width: 100%;
  top: 0;
  left: 0;
}

.primary-nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  float: right;
}

.primary-nav ul li {
  background-color: rgba(0, 0, 0);
  opacity: .8;
  font-size: 13px;
  width: 100px;
  height: 30px; 
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 30px;
}

.primary-nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

.primary-nav ul li a:hover {
  background: rgb(4, 20, 168);
}

.primary-nav ul li ul li {
  display: none;
}

.primary-nav ul li:hover ul li {
  display: block;
}
.container {
  float: center;
  text-align: center;
  width: 50%;
  margin: 0 0 0 475px;
}

.footer-nav {
  height: 10px;
}
.footer-nav ul {
background-color: black;
font-size: 14px;
float: right;
}

.footer-nav ul li {
  display: inline-block;
}
/*==Typography==*/


/*--Primary Header--*/

#banneritalics {
  color: rgb(0, 0, 0);
  font-style: italic;
  line-height: 30px;
  font-size: 15px;
  word-spacing: 7px;
  font-weight: 300;
}

.banner {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: .5px;
  line-height: 30px;
  text-transform: uppercase;
}

.banner {
  background: opacity 0;
}


/*--Boxing--*/

.col-1-3 {
  border: 2px solid #648888;
  border-radius: 10px;
  margin-right: 30px;
}




/*--Footer--*/

.footer-container small {
  float: left;
  font-weight: 400;
  color: #648880;
  font-size: 14px;
}

.footer-container {
  background-color: black;
}